@model ProyectoMascotas.DAL.Models.Raza

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Raza</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Raza1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Raza1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoMascotaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoMascotaNavigation.Tipo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdRaza">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
